@import '../mixins.less';
.tile.thermometer {
    div.content {
        margin: auto 0;
        border:0;
        padding: 28px 18px;

        .temp {
            float: left;
            padding: 10px 0 0 0;

            .field_temperature {
                font-size: 20pt;
            }

            .degrees {
                font-size: 11pt;
            }
        }
        .field_bulb {
            float: right;
            font-size: 72pt;
        }
    }
}
